<!DOCTYPE html>
<html><head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252">
    <title>PeopleLikeYou</title>

    <style>
        html, body {
            height: 100%;
        }
        body {
            margin: 0;
            padding: 0;
            width: 100%;
            display: table;
            font-weight: 100;
            font-family: 'Lato';
        }
        .container {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }
        .content {
            text-align: center;
            display: inline-block;
        }
        .title {
            font-size: 72px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="content">
        <div class="title">People Like You</div>
    </div>
</div>


</body></html>